.Pic {
  width: 150px;
  height: 150px;
  padding: 50px;
}

.Res {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 66pt;
  margin: 20px;
  padding-left: 750px;
  color: rgb(255, 50, 50);
  text-shadow: black 2px 5px 5px;
}

#Rock {
  position: relative;
  left: 150px;
}

#Paper {
  position: relative;
  top: 300px;
  left: 250px;
}

#Scissors {
  position: relative;
  left: 350px;
}

body {
  background-color: darkcyan;
}
